*{
  box-sizing: border-box;
}

.container{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

body {
  font-family: 'Poppins',Roboto, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.025em;
  line-height: 2.1428;
  color: #666666;
  -webkit-overflow-scrolling: touch;
}

.carousel-control-next-icon {
  background-image:none;
}

.carousel-control-prev-icon {
  background-image:none;
}

.BannerPage{
  margin-top: 3rem;
  margin-bottom: 6rem;
}

.section-subtitle {
  display: inline-block;
  font-weight: 500;
  font-size: 1.142rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #cee002;
  margin-bottom: 1rem;
}

.BannerPage p{
  /* text-size-adjust: auto; */
  font-size: 18px;
  max-width: 100%;
}

h2 {
  font-weight: 600;
  font-size: 2.571rem;
  line-height: 1.166;
  color: #000;
  letter-spacing: 0;
  margin: 2.6rem 0;
}

.YearsOfExperience{
  display: flex;
  align-items: center;
}

.YearsOfExperience h1{
  font-size: 8rem;
  font-weight: bolder;
  color: #000;
  padding-right: 1rem;
  padding-left: 2rem;
  padding-top: 1rem;
  border-top:  10px double #cee002;
  border-left:  10px double #cee002;
  border-bottom: 10px double #cee002;
}

.YearsOfExperience p{
  display: inline-block;
  vertical-align: middle;
  margin: -1rem 0 0 0.8rem;
  font-size: 1.57rem;
  line-height: 1.181;
  color: #000;
}
/* @media (max-width:360px){
  .BannerPage{
    display: grid;
  }
} */

.latest{
  background-image: url(./components/images/project3.jpg);
  background-repeat:no-repeat;
  background-size: cover;
  margin-bottom: 6rem;
  padding-bottom: 6rem;
 
}
.latest .latestProjectCaption{
  padding-top: 3rem;
  margin-bottom: 4rem;
  color:#fff;
  font-weight: 800;
}

.eachCard {
  background-color: transparent;
  border: 1px solid #cee002 ;
}

.eachCard :hover{
  background-color: #cee002;
  color: #000;
  cursor: pointer;
  border: none !important;

}


.action:hover{
  background-color: #666666 !important;
  color: #fff;
  /* padding-left: 3rem;
  padding-right: 3rem; */
}

.actButton:hover{
  background-color: transparent;
  color: #fff;
}
.cardDetails{
  color: #fff;
}

h1, p {
  font-family: Lato;
}

.modal-image{
  max-height: 150px !important;
}

.mImage{
  display: flex;
}

.project-detail-list {
  list-style: none;
  padding-left: 0;
  margin-top: 3.6rem;
}

.text-dark {
  color: #000;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 10px;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.project-detail-list li {
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 0.6rem;
  margin-top: 0.65rem;
  overflow: hidden;
}

.project-detail-list li .left {
  float: left;
  font-weight: 600;
}

.project-detail-list li .right {
  float: right;
}